.Intro{
    color: #fff;
    background: #41d6c3;
    z-index: 1;
    background-image: url("https://raw.githubusercontent.com/ibm-cloud-applaunch/applaunch/master/src/assets/background.webp");background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(43, 44, 44, 0.68);
}
.Intro .intro-image{
    /* align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    height: 100%; */
    justify-content: center;
    overflow: auto;
    padding-top: 8rem;
    right: 0;
    width: 80%;
    align-items: center;
    display: flex;
    height: 100%;
}
.Intro .intro-image img{
    width: 50%;
}
.Intro .intro-text .about{
    font-weight: 200;
    font-size: 2.25rem;
    line-height: 1.35em;
    font-family: 'Merriweather' !important;
}
.Intro .intro-text div{
    margin-bottom: 1rem;
}
.Intro .intro-text .heading{
    display: flex;
    align-items: baseline;
}
.Intro .intro-text .heading p{
    font-size: 3rem !important;
}
.Intro .intro-text .heading h4{
    font-size: 3rem !important;
    margin-right: 0.4rem;
    font-family: 'Merriweather';
}
.Intro .intro-text .attributes{
    display: flex;
    align-items: baseline;
    padding: 1rem;
}
.Intro .intro-text .attributes p{
    margin-right: 0.5rem;
    font-weight: 100;
    font-size: 2rem;
    display: block;
}

.Intro .intro-text .attributes span{
    font-weight: 900;
    font-size: 2rem;
    display: block;
}



/* svg css */
.logo {
    display: inline;
    cursor: pointer;
    width: 100%;
  }
  .logo::after {
    clear: both;
    content: "";
    display: table;
  }
  .logo:hover .logo-rocket {
    -webkit-animation: draw 6s linear forwards;
    -moz-animation: draw 6s linear forwards;
    animation: draw 6s linear forwards;
    -webkit-animation-delay: -4s;
    -moz-animation-delay: -4s;
    animation-delay: -4s;
    stroke-dasharray: 1800;
    stroke-dashoffset: -1800;
  }
  .logo svg {
    display: block;
    margin: 40px auto 0;
    text-indent: -99999px;
  }
  
  @-webkit-keyframes draw {
    0% {
      stroke-dashoffset: none;
    }
    100% {
      stroke-dashoffset: 1;
      fill-opacity: 1;
    }
  }
  @-moz-keyframes draw {
    0% {
      stroke-dashoffset: none;
    }
    100% {
      stroke-dashoffset: 1;
      fill-opacity: 1;
    }
  }
  @keyframes draw {
    0% {
      stroke-dashoffset: none;
    }
    100% {
      stroke-dashoffset: 1;
      fill-opacity: 1;
    }
  }




  /*=============================================
[ Page Setup ]
==============================================*/
#pageWrap {width:100%;overflow:hidden;}
#rocket{display:block;margin:0 auto;}

/*=============================================
[ Inactive State Styles ]
==============================================*/

.rocket_inner {
    transform: translateY(15px) translateX(-3px);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.icon_circle {
    transition: .2s;
    fill: #22303e;
}
.large_window_path {
    transition: .2s;
    fill: #22303e;
}
.small_window_path {
    fill: #22303e;
}
.wing_shadow {
    fill: #34495e;
}
.rocket_bottom { fill: #34495e }
.rocket_base { fill: #34495e }
.rocket_shadow { fill: #34495e }
.window_grandient { stop-color: #2DCB73 }
.window_grandient1 { stop-color: #2AC16D }
.window_grandient2 { stop-color: #29B968 }
.window_grandient3 { stop-color: #28B767 }
.wing_base { fill: #34495e }
.fire_path { fill: #FC0 }

/*=============================================
[ Hover Styles ]
==============================================*/
.rocket_wrap .rocket_base {
    fill: #FFFFFF !important;
    stroke-width: 0px !important;
}
.rocket_wrap .rocket_shadow {
    fill: #EDEDED !important;
    stroke-width: 0px !important;
}
.rocket_wrap .icon_circle {
    fill: #282e3a !important;
    stroke: #fff !important;
    stroke-width: 7px !important;
}
.rocket_wrap .small_window_path {
    fill: #28B767 !important;
    stroke-width: 0px !important;
}
.rocket_wrap .wing_shadow {
    display: block !important;
    fill: #FC9252 !important;
}
.rocket_wrap .wing_base {
    fill: #E16E36 !important;
    stroke-width: 0px !important;
}
.rocket_wrap .rocket_bottom {
    fill: #2DCB73 !important;
    stroke-width: 0px !important;
}
.rocket_wrap .large_window_path {
    fill: url(#SVGID_2_) !important;
    stroke-width: 0px !important;
}
.rocket_wrap .rocket_inner { transform: translateY(0px) translateX(-3px) !important; }

/*=============================================
[ Animation Classes ]
==============================================*/
.fire {
    display: none;
    animation-delay: 0s;
    fill-opacity: 1;
    animation-timing-function: ease-in;
    stroke-width: 0px;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    animation-direction: normal;
}
.rocket_wrap #fireLeft {
    display: block;
    animation-delay: 0s;
    animation-name: fireLeft, fillOpacity1;
    animation-duration: 1.2s;
}
.rocket_wrap #fireMiddle {
    display: block;
    animation-delay: 0s;
    animation-name: fireMiddle, fillOpacity1;
    animation-duration: 1s;
}
.rocket_wrap #fireRight {
    display: block;
    animation-delay: 0s;
    animation-name: fireRight, fillOpacity1;
    animation-duration: 1.3s;
}
.rocket_wrap #fireSmallLeft {
    display: block;
    animation-delay: 0s;
    animation-name: fireSmall, fillOpacity2;
    animation-duration: 1.3s;
    transform-origin: bottom;
}
.rocket_wrap #fireSmallRight {
    display: block;
    animation-delay: 0.3s;
    animation-name: fireSmall, fillOpacity3;
    animation-duration: 1.6s;
    transform-origin: bottom;
}
/*=============================================
[ KeyFrame Animations ]
==============================================*/
@keyframes fireSmall { 
    10% { transform: rotate(17deg) translateY(1px) }
    20% { transform: rotate(-13deg) translateY(2px) }
    30% { transform: rotate(21deg) translateY(3px) }
    40% { transform: rotate(-34deg)translateY(4px) }
    50% { transform: rotate(24deg) translateY(5px) }
    60% { transform: rotate(-17deg) translateY(6px) }
    70% { transform: rotate(31deg) translateY(7px) }
    80% { transform: rotate(-28deg) translateY(8px) }
    90% { transform: rotate(14deg) translateY(9px) }
    99% { transform: rotate(0deg) translateY(10px) }
}
@keyframes fireLeft { 
    6% { transform: rotate(25deg) }
    15% { transform: rotate(-19deg) }
    25% { transform: rotate(25deg) }
    32% { transform: rotate(-30deg) }
    46% { transform: rotate(22deg) }
    54% { transform: rotate(-29deg) }
    61% { transform: rotate(32deg) }
    74% { transform: rotate(-9deg) }
    83% { transform: rotate(16deg) }
    99% { transform: rotate(0deg) }
}
@keyframes fireMiddle { 
    10% { transform: rotate(25deg) }
    20% { transform: rotate(-25deg) }
    30% { transform: rotate(30deg) }
    40% { transform: rotate(-22deg) }
    50% { transform: rotate(29deg) }
    60% { transform: rotate(-45deg) }
    70% { transform: rotate(37deg) }
    80% { transform: rotate(-15deg) }
    90% { transform: rotate(16deg) }
    99% { transform: rotate(0deg) }
}
@keyframes fireRight { 
    15% { transform: rotate(17deg) }
    23% { transform: rotate(-13deg) }
    37% { transform: rotate(21deg) }
    45% { transform: rotate(-34deg) }
    54% { transform: rotate(24deg) }
    67% { transform: rotate(-17deg) }
    72% { transform: rotate(31deg) }
    84% { transform: rotate(-28deg) }
    96% { transform: rotate(14deg) }
    99% { transform: rotate(0deg) }
}
@keyframes fillOpacity1 { 
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    50% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@keyframes fillOpacity2 { 
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    25% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@keyframes fillOpacity3 { 
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    67% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@keyframes rocektMove { 
    0% { transform: translateY(0px) }
    100% { transform: translateY(20px) }
}
@media only screen and (min-width : 320px) {
    .Intro .intro-text .attributes p{
        display: none;
    }
    .Intro .intro-text .attributes span{
        display: none;
    }
    .intro-image{
        display: none;
        height: 0;
    }
} 

@media only screen and (min-width : 480px) and (max-width : 640px) {
    .Intro .intro-text .attributes p{
        margin-right: 0.5rem;
        font-weight: 100;
        font-size: 0.9rem;
        display: block;
    }
    .Intro .intro-text .attributes span{
        margin-right: 0.5rem;
        font-weight: 900;
        font-size: 0.9rem;
        display: block;
    }
    .Intro .intro-image{
        display: none;
        height: 0;
    } 
}
@media only screen and (min-width : 640px) and (max-width : 768px) {
    .Intro .intro-text .attributes p{
        margin-right: 0.5rem;
        font-weight: 100;
        font-size: 1.2rem;
        display: block;
    }
    .Intro .intro-text .attributes span{
        margin-right: 0.5rem;
        font-weight: 900;
        font-size: 1.2rem;
        display: block;
    }
    .Intro .intro-image{
        display: none;
        height: 100%;
    } 
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
    .Intro .intro-text .attributes p{
        margin-right: 0.5rem;
        font-weight: 100;
        font-size: 1.5rem;
        display: block;
    }
    .Intro .intro-text .attributes span{
        margin-right: 0.5rem;
        font-weight: 900;
        font-size: 1.5rem;
        display: block;
    }       
}
@media only screen and (min-width : 1024px) {
    .Intro .intro-text .attributes p{
        margin-right: 0.5rem;
        font-weight: 100;
        font-size: 1.5rem;
        display: block;
    }
    .Intro .intro-text .attributes span{
        margin-right: 0.5rem;
        font-weight: 900;
        font-size: 1.5rem;
        display: block;
    }      
}
    