.Features .feature-item{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.Features .heading{
    width: 100%;
    margin: 0;
   
}
.Features .heading  h4{
    font-size:3rem;
}
.Features .feature-item .icon{
    width: 50%;
}
path{
    pointer-events:all;
}

.Features .feature-item .icon svg:hover path{
    fill: #5aaafa;
}
.Features .feature-item .icon{
    cursor: pointer;
}